@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  /* 1 */
  background-color: white;
  /* 2 */
}

.section-title {
  border-bottom: 5px solid gold;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pending-section,
.ready-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.each-queue {
  width: 100%;
  border-radius: 20px;
  padding: 40px 80px;
  justify-content: space-between;
  font-size: 3rem;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.pending-section .each-queue {
  background-color: blue;
}

.ready-section .each-queue {
  background-color: green;

}

main {
  gap: 30px;
}

.call-candidate-btn {
  padding: 10px 20px;
  background-color: blue;
}